# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/graph_compute/compute
src/hilbert_reorder/reorder
src/hilbert_reorder/undirect
src/graphgen2/graphgen2
src/binconvert/binconvert

# Log and Temporary files
*.tmp
*.log
*.dbg
*.dmp

# Graph Output files
*.node
*.adjlist
*.edge
*.ele
*.smesh
*.face

# Directories
tmp/*
results/*
inputs/*

# Local Configuration
*.json

# OS X temp files
.DS_Store
